/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*----------------END RESET------------------ */

/*
  ========================================
  Universal
  ========================================
*/

body {
  font-family: sans-serif;
  width: 97%;
  margin-left: 3%;
  
  -webkit-box-shadow: -3px 0px 10px 0px #CCCCCC;
     -moz-box-shadow: -3px 0px 10px 0px #CCCCCC;
      box-shadow: -3px 0px 10px 0px #CCCCCC;
}
/*
  ========================================
  Clearfix
  ========================================
*/

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
/*
  ========================================
  Typography
  ========================================
*/

p {
  margin-bottom: 20px;
}
h1 {
  font-size: 32px;
  margin-top: 22px;
  margin-bottom: 15px;
}

/*
  ========================================
  Images
  ========================================
*/
.icon {
  width: 18px;
  padding-top: 5px;
  margin: 0 5px -5px 0;
}
.mag-glass {
  width: 21px;
  padding-top: 1px;
  margin: 0 5px -4px 0;
}
.menu {
  width: 18px;
  margin: 0 5px -2px 0;

}



/*
  ========================================
  Header
  ========================================
*/
.primary-header {
  background: #fff;
  padding: 10px 180px 10px 5px;
  border-bottom: 1px solid #CCCCCC;
  

  -webkit-box-shadow: 0px 1px 6px 0px rgba(176,176,176,1);
     -moz-box-shadow: 0px 1px 6px 0px rgba(176,176,176,1);
          box-shadow: 0px 1px 6px 0px rgba(176,176,176,1);
}
.btn {
  margin: 0 auto;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  background: #6288a5;
  color: #fff;
  text-transform: uppercase;
  padding: 5px 0;
  border-radius: 5px;
  float: right;
  cursor: pointer;
}
.btn:hover {
  background: #326891;
} 
.subscribe {
  margin-top: 2px;
  width: 110px;
} 
.login {
  margin-top: 2px;
  width: 60px;
}
/*
  ========================================
  Navigation
  ========================================
*/

.nav {
  display: inline-block;
}
.sections {
  background: #fff;
  border-radius: 3px;
  padding: 5px;
  border: 1px solid #dbdbdb;
  margin-right: 50px;
  display: inline-block;
  position: relative;
  left: -15px;
  -webkit-box-shadow: -2px 2px 5px 0px rgba(176,170,176,1);
     -moz-box-shadow: -2px 2px 5px 0px rgba(176,170,176,1);
      box-shadow: -2px 2px 5px 0px rgba(176,170,176,1);
}
.home {
  padding: 0 5px 5px 5px; 
  display: inline-block;
}
.search {
  display: inline-block;
}

/*
  ========================================
  Article
  ========================================
*/

.article {
  margin-top: 15px;
  padding: 10px 0 10px 25px;
}



