/* CSS Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.signup,
.container,
.grid {
  margin: 0 auto;
  width: 800px;
}
.signup,
.container {
  padding-left: 30px;
  padding-right: 30px;
}
.grid,
.col-1-4,
.col-3-4 {
  padding-left: 15px;
  padding-right: 15px;
}
.col-1-4,
.col-3-4  {
  display: inline-block;
  vertical-align: top;
}
.col-1-4 {
  width: 25%;
}
.col-3-4 {
  width: 70%;
}

/*
  ========================================
  Clearfix
  ========================================
*/

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}



/*
  ========================================
  Links
  ========================================
*/

a {
  color: #648880;
  text-decoration: none;
}

/*
  ========================================
  Header
  ========================================
*/
.header {
  background: #6f3680;
  padding: 50px 0 10px 0;
}
.logo {
  float: left;
  height: 30px;
}

/*
  ========================================
  Navigation
  ========================================
*/

.nav {
  padding-top: 10px;
  text-align: right;
}
.nav li {
  display: inline-block;
}

/*
  ========================================
  Signup
  ========================================
*/

.signup {

}
.info-box {
  border: 1px solid blue;
  background: gray;
}
input,
select,
textarea {
  font: 300 16px/22px  "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.account-info input,
.account-info select {
  border: 1px solid #c6c9cc;
  border-radius: 5px;
  color: #888;
  display: block;
  margin: 5px 0 27px 0;
  padding: 5px 8px;
}
.account-info input {
  width: 100%;
}

.account-action label {
  margin-bottom: 15px;
  display: block;

}