/*
  ========================================
  Universal
  ========================================
*/
body {
	font-size: 16px;
	line-height: 22px;
	font-family: 'Playfair Display', serif;
	padding: 120px 10px 20px 120px;
}
img {
	margin-bottom: 22px;
}


/*
  ========================================
  Header
  ========================================
*/

header {
	width: 100%;
	height: 80px;
	position: fixed;
	background: #191919;
	z-index: 100;
	top: 0;
  left: 0;
}
nav {
	float: right;
	font-family: 'Source Sans Pro', sans-serif;
	padding: 29px 10px;
}
li {
	padding-right: 10px;
	display: inline-block;
}
a {
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
}
a:hover {
	color: #666;
}
.nav-border {
	height: 80px;
	border-left: 1px solid red;
}
.logo {
	padding-right: 30px;
	float: left;
}
.subscribe {
	font-family: 'Source Sans Pro', sans-serif;
	color: #e5e500;
	font-weight: 700;
	padding: 29px 15px;
	border-left: 1px solid #666;
	float: right;
}
.location {
	padding: 24px 25px;
	border-left: 1px solid #666;
	float: right;
}
.signin {
	font-family: 'Source Sans Pro', sans-serif;
	color: #fff;
	font-weight: 700;
	padding: 29px 15px;
	border-left: 1px solid #666;
	float: right;
}

/*
  ========================================
  Typography
  ========================================
*/
h1,h2,h3,h4 {
	text-transform: uppercase;
	font-family: 'Source Sans Pro', sans-serif;
}

h1 {
	font-weight: bold;
	margin-bottom: 20px;
	font-size: 44px;
}
h3 {
	font-weight: bold;
	margin-bottom: 10px;
	color: #ff5500;
	font-size: 18px;
}
h4 {
	font-size: 14px;
	margin-bottom: 30px;
}
p {
	margin-bottom: 15px;
}
strong {
	color: #ff5500;
}
.fa-search {
	color: #fff;
}
.fa-map-marker {
	color: #fff
}