

/*
  ========================================
  Grid
  ========================================
*/

.container,
.grid {
  margin: 0 auto;
  max-width: 1300px;
}
.container {
  padding-left: 30px;
  padding-right: 30px;
}
.grid,
.col-5-8,
.col-3-8 {
  padding-left: 25px;
  padding-right: 15px;
}
.col-5-8,
.col-3-8  {
  display: inline-block;
  vertical-align: top;
}
.col-5-8 {
	float: left;
  width: 62.5%;
}
.col-3-8 {
	float: right;
  width: 25%;
}



/*
  ========================================
  Header
  ========================================
*/

header {
	width: 100%;
	height: 80px;
	position: fixed;
	background: #191919;
	z-index: 100;
	top: 0;
  left: 0;
}
nav {
	float: right;
	font-family: 'Source Sans Pro', sans-serif;
	padding: 29px 10px;
}
nav li {
	padding-right: 20px;
	display: inline-block;
}
.nav-border {
	height: 80px;
	border-left: 1px solid red;
}
.logo {
	float: left;
}
.mobile-logo {
	display: none;
}
.subscribe {
	font-family: 'Source Sans Pro', sans-serif;
	color: #e5e500;
	font-weight: 700;
	padding: 29px 25px;
	border-left: 1px solid #666;
	float: right;
}
.subscribe:hover {
	color: #b2b200;
}
.location {
	padding: 24px 30px;
	border-left: 1px solid #666;
	float: right;
}
.signin {
	font-family: 'Source Sans Pro', sans-serif;
	color: #e7e7db;
	font-weight: 700;
	padding: 29px 30px;
	border-left: 1px solid #666;
	float: right;
}
.signin:hover {
	color: #666;
}
.fa-search {
	color: #fff;
}
.fa-search:hover {
	color: #666;
}
.fa-map-marker {
	color: #fff
}
.fa-map-marker:hover {
	color: #666;
}
#menu-icon {
	display: none;
}
.fa-bars {
	display: none;
}

/*
  ========================================
  Body
  ========================================
*/
body {
	font-size: 16px;
	line-height: 22px;
	font-family: 'Playfair Display', serif;
	padding: 120px 0 20px 0;
}
img {
	max-width: 100%;
	height: auto;
	margin-bottom: 22px;
}
.video-container {
	position: relative;
  padding-bottom: 56.25%;
  padding-top: 10px;
  height: 0;
  overflow: hidden;
  margin-bottom: 82px;
}
iframe {
	position: absolute;
  width: 100%;
  height: 100%;
}
.info-box {
	margin: 20px 0 80px 0;
	padding: 20px;
	width: 200px;	
	border: 1px solid #c1c1c1;
	float: left;
}
.section-tab {
	margin: -20px 0 0 -20px;
	border-bottom: 1px solid #c1c1c1;
	border-right: 1px solid #c1c1c1;
	padding: 20px 15px;
	text-transform: uppercase;
	font-weight: 700;
	width: 100px;
}
.link-section {
	padding: 10px 5px 5px 5px;
}
.link-item {
	padding: 10px 4px 10px 20px;
	border-bottom: 1px solid #c1c1c1;
}
.link-item:before {
	padding-right: 8px;
	margin-left: -20px;
  content: "■";
  color: #a5b3e5;
}
.link-item:last-child {
	border-style: none;
}
.comments {
}
#comment-count {
	display: inline-block;
}
#comment-sort {
	float: right;
}
#sort {
	border-radius: 2px;
	border: 1px solid #666;
}
#avatar {
	float: left;
	padding-right: 15px;
}
#comment-box {
	width: 90%;
	height: 200px;
	margin-bottom: 22px;
}

/*
  ========================================
  Typography
  ========================================
*/
h1,h2,h3,h4 {
	text-transform: uppercase;
	font-family: 'Source Sans Pro', sans-serif;
}

h1 {
	font-weight: 700;
	line-height: 130%;
	margin-bottom: 20px;
	font-size: 44px;
}
h3 {
	font-weight: bold;
	margin-bottom: 10px;
	color: #ff5500;
	font-size: 18px;
}
h4 {
	font-size: 14px;
	margin-bottom: 30px;
}
p {
	margin-bottom: 15px;
}
strong {
	color: #ff5500;
}
#discussion {
	font-weight: 700;
	font-size: 26px;
	margin-bottom: 12px;
}

/*
  ========================================
  Links
  ========================================
*/
a {
	text-decoration: none;
	color: #e7e7db;
	text-transform: uppercase;
	font-weight: bold;
}
a:hover {
	color: #666;
}

/*
  ========================================
  Media Queries
  ========================================
*/
@media screen and (max-width: 1280px) {
	.logo {
		display: none;
	}
	.mobile-logo {
		height: 80px;
		display: block;
		padding-right: 15px;
		float: left;
	}
}

@media screen and (max-width: 1100px) {
	.subscribe,
	.location, 
	.signin {
		display: none;
	}
	#menu-icon {
		border-left: 1px solid #666;
		padding: 20px 20px;
		display: block; 
		margin-top: -29px;
    height: 40px;
    float: left;
  }
 
  nav ul, 
  nav:active ul { 
    display: none;
    position: absolute;
    padding: 20px;
    background: #252a1c;
    border: 1px solid #ff9e00;
    right: 20px;
    top: 60px;
    width: 20%;
    border-radius: 4px 0 4px 4px;
  }
  nav li {
    width: 100%;
    padding: 10px 0;
    margin: 0;
  }
  nav:hover ul {
    display: block;
  }
  .col-3-8 {
  	display: none;
  }
  .col-5-8 {
  	width: 100%;
  }
}